#title {
    line-height: 10px;
    text-align: center;
}

#color-palette {
    display: inline-block;
    height: 55px;
}

.color {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    display: inline-block;
}

#panel {
    margin: auto;
    width: fit-content;
    background-color: white;
    width: 223px;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 15px;
    border: 4px solid white;
    border-radius: 10px;
}

#pixel-board {
    width: 210px;
    height: 210px;
    background-color: black;
    padding: 4px;
    line-height: 2px;
}

.pixel {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid black;
    background-color: white;
}

#clear-board {
    text-align: center;
    height: 20px;
    width: auto;
    background-color: gray;
    border: 1px solid black;
}

#inputPixels {
    display: inline-block;
}

#generate-board {
    display: inline-block;
    background-color: gray;
}

#board-size {
    width: 163px;
    background-color: lightgray;
}

#content-center {
    margin: auto;
    width: fit-content;

}

body {
    background-image: url('pixel-art-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#board-container {
    width: fit-content;
    margin: auto;
}

footer {
    border-top: 2px solid #069406;
    text-align: center;
    background-color: #069406;
    bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: -100;
    font-size: 70%;
    color: white;
    line-height: 15px;
}